.ant-layout-sider-trigger {
  background: rgb(7, 85, 30);
}

.ant-menu:not(.ant-menu-horizontal) .ant-menu-item-selected {
  background-color: rgb(7, 85, 30);
}

.ant-menu-submenu-title:active {
  background-color: rgb(7, 85, 30);
}
