.ant-btn-primary {
  background-color: #3e8247;
}

.ant-btn-primary:hover,
.ant-btn-primary:focus {
  color: #fff;
  background-color: #3e8247;
  border-color: #3e8247;
}

.ant-spin-dot-item {
  background-color: #3e8247;
}
